<section>
  <div class="container py-5 text-center">
    <div class="jumbotron">
      <h2 class="mb-4">Resumen por días de los casos de Covid en Castilla y León</h2>
      <p class="lead mb-5">Es importante mantenerse informado sobre la evolución de la pandemia. Aquí puedes encontrar los últimos datos actualizados sobre los casos de Covid en la región de Castilla y León.</p>
    </div>
    <div *ngFor="let resumen of resumenes" class="card my-4 bg-muted">
      <div class="card-body">
        <h2 class="card-title text-left" style="font-size: 1.5rem;">{{resumen.fecha}}</h2>
        <p class="card-text text-muted" style="font-size: 1.2rem;">{{resumen.resumen}}</p>
      </div>
    </div>
  </div>
</section>
