<section>
  <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Bienvenido al proyecto COVID-19 en Castilla y León</h1>
        <p class="lead">Aquí encontrarás información actualizada sobre los casos de COVID-19 en la provincia de Castilla y León por día.</p>
        <hr class="my-4">
        <p>Este proyecto es realizado por Jose Ramón, un alumno de la empresa HPE CDS.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Sobre el proyecto</h2>
          <p>El proyecto COVID-19 en Castilla y León es una iniciativa para proporcionar información actualizada y precisa sobre los casos de COVID-19 en la provincia de Castilla y León por día. La información es recopilada por nuestro equipo de especialistas en salud y se actualiza regularmente para proporcionar datos precisos y útiles.</p>
          <p>Nuestra misión es ayudar a la comunidad a estar informada sobre la situación del COVID-19 en la provincia de Castilla y León y tomar las medidas necesarias para mantenerse seguros y saludables. Estamos comprometidos a proporcionar información actualizada y precisa para apoyar a nuestra comunidad en estos tiempos difíciles.</p>
        </div>
        <div class="col-md-6">
          <h2>Sobre el COVID-19</h2>
          <p>El COVID-19 es una enfermedad infecciosa causada por el virus SARS-CoV-2. Se identificó por primera vez en la ciudad de Wuhan, China, en diciembre de 2019 y desde entonces se ha extendido por todo el mundo.</p>
          <p>Los síntomas pueden variar desde leves hasta graves y pueden incluir fiebre, tos, dificultad para respirar, fatiga y dolores musculares. La enfermedad se propaga principalmente a través de gotículas respiratorias producidas cuando una persona infectada tose o estornuda.</p>
          <p>Es importante tomar medidas preventivas para reducir la propagación del COVID-19, como el distanciamiento social, el lavado frecuente de manos y el uso de mascarillas.</p>
        </div>
      </div>
  </div>
</section>
